* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(48, 47, 47);
  height: 100vh;
}

/* HEADER */

.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./assets/img/gameofthrones.jpg");
  object-fit: cover;
  object-position: bottom;
}

.hero-banner {
  text-align: center;
  padding: 0 3rem;
  color: #fff;
}

.hero-banner h1 {
  text-transform: uppercase;
}

.hero-banner p {
  max-width: 35rem;
  margin-left: auto;
  margin-right: auto;
  color: rgb(173, 172, 172);
  letter-spacing: 1.2;
  margin-bottom: 3rem;
}

.hero-btn {
  font-size: 1.25rem;
  background-color: #fff;
  color: #000;
  padding: 7px 20px;
  text-decoration: none;
  border-radius: 2rem;
}

.hero-btn:hover {
  background: none;
  border: 2px solid #fff;
  color: #fff;
}

/* NAVBAR */

.navbar {
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  height: 50px;
  display: flex;
  font-style: 14rem;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar img {
  height: 40px;
  width: 50px;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  text-decoration: none;
  list-style: none;
  margin-right: 10px;
  background: transparent;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 12px;
}

/* CARD */

.card {
  width: 300px;
  height: 300px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  background-color: #00000049;
  align-items: center;
  color: #fff;
  position: relative;
  border-radius: 15px;
  transition: transform 0.3s; /* Agrega una transición suave al efecto */
}

.card-header {
  width: 100%;
  height: 100%;
  position: absolute;
  border-bottom: 0;
  padding: 0;
}

.img-character {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 15px;
}

.card-body {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 40%;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 0 0 15px 15px;
}

.card:hover {
  transform: scale(0.9); /* Escala el elemento al 110% del tamaño original */
  cursor: pointer;
}

.card-title {
  white-space: nowrap; /* Evita que el texto se divida en múltiples líneas */
  overflow: hidden; /* Oculta cualquier contenido que se desborde */
  text-overflow: ellipsis; /* Muestra "..." si el texto se desborda */
}

/* LINKS */

.navNavlink {
  text-decoration: none;
  list-style: none;
  margin-right: 10px;
  background: transparent;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 12px;
  color: white;
}

.active {
  color: gold;
}
